.page-title {
    color: rgb(255, 255, 255);
    margin-top: 50px;
    font-size: 34px;
    line-height: 32px;
    font-weight: 400;
    white-space: pre-line;
}

.trade-container {
    display: flex;
    background-color: rgb(62, 66, 86);
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border-radius: 12px;
    flex-direction: column;
    width: 380px;
    padding: 15px;
    z-index: 1;
}

.trade-inner-container {
    background-color: rgb(82, 86, 105);
    height: 40px;
    display: flex;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    width: 100%;
    border-radius: 12px;
}

.trade-btn {
    color: rgb(255, 255, 255);
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.buy {
    background-color: rgb(37, 184, 130);
}

.sell {
    background-color: rgb(184, 37, 37);
}

.balance-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    box-sizing: border-box;
}

.balance {
    color: rgb(151, 153, 164);
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    white-space: pre-line;
}

.max-btn {
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: auto;
    line-height: 1;
    min-height: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid rgb(11, 130, 184);
    border-radius: 4px;
    cursor: pointer;
    outline-style: none;
    text-align: center;
    text-decoration: none;
    transition-duration: 200ms;
    user-select: none;
    white-space: nowrap;
}

.max-btn:hover {
    background-color: rgb(11, 130, 184);
    color: rgb(255, 255, 255);
    transform: scale(1.02);
}

.max-btn-inner-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.max-btn-title {
    color: rgb(11, 130, 184);
    padding: 2px 3.5px 2px 4px;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    white-space: pre-line
}

.max-btn-title:hover {
    color: white;
}

.amount-container {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 10px;
    box-sizing: border-box;
}

.icon {
    display: block;
    height: 32px;
    position: absolute;
    left: 10px;
    top: 9px;
    width: 32px;
}

.amount-input {
    border-radius: 12px;
    background-color: rgb(82, 86, 105);
    color: rgb(255, 255, 255);
    font-size: 20px;
    height: 50px;
    line-height: normal;
    padding-left: 52px;
    padding-right: 55px;
    text-align: right;
    width: 100%;
    border-width: 0px;
    box-sizing: border-box;
    outline: transparent none 1px;
    outline-offset: 4px;
}

.amount-input.input-error {
    background-color: rgb(119, 62, 74);
}

.from-token {
    color: rgb(211, 211, 211);
    position: absolute;
    right: 12px;
    top: 14px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    white-space: pre-line; 
}

.usd-value-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    box-sizing: border-box;
}

.usd-value-title {
    color: rgb(151, 153, 164);
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    white-space: pre-line;
}

.usd-value {
    color: rgb(151, 153, 164);
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    white-space: pre-line;
}

.received-token-container {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 7px;
    box-sizing: border-box;
}

.received-token-value-container {
    border-radius: 12px;
    background-color: rgb(82, 86, 105);
    color: rgb(255, 255, 255);
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    height: 50px;
    padding-left: 52px;
    padding-right: 55px;
    box-sizing: border-box;
}

.received-token-value {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    white-space: pre-line;
}

.received-token {
    color: rgb(211, 211, 211);
    position: absolute;
    right: 12px;
    top: 14px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    white-space: pre-line;
}

.min-received-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    box-sizing: border-box;
}

.min-received-title {
    color: rgb(151, 153, 164);
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    white-space: pre-line;
}

.min-received-value-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.min-received-value {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    white-space: pre-line;
}

.buy-sell-btn-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.buy-sell-btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    height: 44px;
    line-height: 1;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    appearance: none;
    box-sizing: border-box;
    outline-style: none;
    text-align: center;
    text-decoration: none;
    transition-duration: 200ms;
    user-select: none;
    white-space: nowrap;
}

.buy-sell-btn.buy-btn {
    background-color: rgb(37, 184, 130);
}

.buy-sell-btn.sell-btn {
    background-color: rgb(184, 37, 37);
}

.buy-btn:hover {
    background-color: rgb(37, 184, 130);
    color: rgb(255, 255, 255);
    transform: scale(1.02);
}

.sell-btn:hover {
    background-color: rgb(184, 37, 37);
    color: rgb(255, 255, 255);
    transform: scale(1.02);
}

.buy-sell-btn-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    white-space: pre-line;
}

.error-msg-container {
    display: flex;
    width: 90%;
    position: relative;
    box-sizing: border-box;
}

@media screen and (min-width: 40em) {
    .error-msg-container {
        width: 260px;
        height: 300px;
    }
}

.error-msg-inner-container {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb(35, 40, 62);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 50px;
    position: absolute;
    padding: 12px 15px;
    box-sizing: border-box;
}

.error-msg {
    color: rgb(237, 11, 11);
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    text-align: center;
    white-space: pre-line;
}

.error-init-pos {
    top: -80px;
}

.error-final-pos {
    top: 0;
    transition: top .3s ease-in-out;
}

.info-icon {
    cursor: pointer;
    display: flex;
    height: 12px;
    margin-left: 5px;
    width: 12px;
    box-sizing: border-box;
}